<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.sys.dao.SysMenuDao">

	<select id="findPermissions" resultType="string">
		select permission <!-- sys:user:update -->
		from sys_menus
		where id in
		<foreach collection="menuIds" open="(" close=")" separator=","
			item="item">
			#{item}
		</foreach>
	</select>

	<!-- 查询所有菜单以及上级菜单信息，每行记录都要映射为一个map对象 -->
	<select id="findObjects" resultType="map"><!-- 这里的map为Map集合的别名 -->
		<!-- 方案一 -->
		select c.*,p.name parentName
		from sys_menus c left join sys_menus p
		on
		c.parentId=p.id
		<!-- 方案二 -->
		<!-- select c.*, (select p.name from sys_menus p where c.parentId = p.id) 
			parentName from sys_menus c -->
	</select>
	<select id="findZtreeMenuNodes"
		resultType="com.db.common.vo.Node">
		select id,name,parentId
		from sys_menus;
	</select>

	<!-- 根据父级id查询子菜单的个数 -->
	<select id="getChildCount" resultType="int">
		select count(*) from
		sys_menus where parentId=#{id}
	</select>
	<!-- 根据菜单id删除菜单 -->
	<delete id="deleteObject">
		delete from sys_menus where id=#{id}
	</delete>
	<!-- 新增菜单 -->
	<insert id="insertObject"
		parameterType="com.db.sys.entity.SysMenu">
		insert into sys_menus
		(name,url,type,sort,note,parentId,permission,
		createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>
	<!-- 修改菜单 -->
	<update id="updateObject"
		parameterType="com.db.sys.entity.SysMenu">
		update sys_menus
		set
		name=#{name},
		type=#{type},
		sort=#{sort},
		url=#{url},
		parentId=#{parentId},
		permission=#{permission},
		modifiedUser=#{modifiedUser},
		modifiedTime=now()
		where id=#{id}
	</update>
</mapper>