<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.sys.dao.SysUserDao">
	
	<select id="findUserByUserName" resultType="com.db.sys.entity.SysUser">
		select *
		from sys_users
		where username=#{username}
	</select>
	
	<resultMap id="sysUserMap"
		type="com.db.sys.vo.SysUserDeptResult">
		<!-- 关联查询 -->
		<association property="sysDept" column="deptId"
			select="com.db.sys.dao.SysDeptDao.findById">
		</association>
	</resultMap>
	
	<select id="findPageObjects" resultMap="sysUserMap">
		select * from sys_users
		<include refid="queryWhereId" />
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*) from sys_users
		<include refid="queryWhereId" />
	</select>
	<sql id="queryWhereId">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>

	<!-- 用户的启用与禁用 -->
	<update id="validById">
		update sys_users
		set valid=#{valid},
		modifiedUser=#{modifiedUser},
		modifiedTime=now()
		where id=#{id}
	</update>

	<insert id="insertObject"
		parameterType="com.db.sys.entity.SysUser" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_users
		(username,password,deptId,email,mobile,salt,valid,
		createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>

	<select id="findObjectById" parameterType="int"
		resultMap="sysUserMap">
		select *
		from sys_users
		where id=#{id}
	</select>
	
	<select id="getUserCountByDeptId"
            resultType="int">
          select count(*)
          from sys_users
          where deptId=#{deptId}
    </select>

</mapper>